<!DOCTYPE html>
<html>
    <head>
        <title>All Products</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="page-content">
            <h3>All Products</h3>
        </div>
        @{
            
        }
    </body>
</html>