@using ViewsExample.Models;
@{
            /*
            *  Person person = new Person() { Name = "Hassan", BirthDate = null, PersonGender = Gender.Male };
              // Convert.ToDateTime("2000-07-08") 
            */
    
}
@{
        double? GetAge(DateTime? dateofBirth)
        {
            if(dateofBirth.HasValue)
           {
               return Math.Round((DateTime.Now - dateofBirth).Value.TotalDays / 365);
           }
           return null;
        }
        

}
<!DOCTYPE html>
<html>
<head>
    @* <title>@appTitle</title> *@
    <title>@ViewData["appTitle"]</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
    <body>
        <h1>Welcome you are in the Index</h1>
         @{
            List<Person>? people = (List<Person>?)ViewData["people"];
         }
        @foreach (Person person in people)
        {
            <div>
                @*Person name*@
                @if (person.Name != null)
                {
                <span>Hello @person.Name</span>
                }else
                {
                <h2>Your name is Unknown</h2>
                }
                <span>, </span>
                @*person BirthDate*@
                @if(person.BirthDate.HasValue)
                {
                <span>Age: @GetAge(person.BirthDate) years old</span>
                }
                else
                {
                <span>Date of Birth is unknown</span>
                }
                @*person Gender*@


            </div>
        
        }

   
    </body>
</html>